<!DOCTYPE html>
<html ng-app="angularPicasaAlbum">
	<head>
		<title>Angular Picasa Album</title>
  </head>
  <body>
	<div ng-controller="slideshowController">
		<button ng-click="next()">NEXT</button>
		<button ng-click="previous()">PREV</button>
		<picasa user="106063255260898090789" albumid="6075652748550751457" img-width="916"></picasa>
	</div>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
	  <script src="angular-picasa-album.js"></script>

  </body>
</html>